.contentContainer {
    display: flex;
    height: 100vh;
    width: 100%;
    padding-top: 10px;
}

.headerAndMainContainer {   
    flex: 1;
    width: 100%; 
    height: 100vh;
    background-color: #f8f8f8;
    padding:0 10px;
}

@media (max-width: 600px) {
    .contentContainer {
      flex-direction: column;
      padding-top: 0;
    }
    .headerAndMainContainer {
      height: auto; 
      padding: 0 5px;
    }
}

@media (max-width: 600px) and (orientation: portrait) {
    .headerAndMainContainer {
      height: 50vh; 
      max-height: 35vh;
    }
    
}
